<head>

<title>Pi-Key</title>
<style>
body {
    text-align: left;
    background-color: #3f3f3f;
    color: white;
    max-width: 500px;
    margin: 0 auto;
    font-family: calibri;
    background-position: center;
}
h1 {
    text-align: center;
}
h2 {
    font-weight: bold;
}

</style>
    <body>

        <h1>Handleiding</h1>
            <p>Voor elke soort gebruiker van Pi-Key staat hieronder een handleiding voor hoe het product gebruikt moet worden.<br><br><br></p>

        <h2>Gebruiker</h2>
            <p>Op het startscherm valt een keuze te maken uit vier dingen:<br>
                    - Play<br>- Create<br>- Settings<br>- Exit<br>
                    Na elk van deze opties zijn er meer keuzes om te maken.<br><br>
                <b>Play<br></b>
                    - Kies een lied om te spelen.<br>
                    - Kies een moeilijkheidsgraad.<br>
                    - Kies op welk tempo je wil spelen.<br><br>
                <b>Create<br></b>
                    - Kies om een gemaakt bestand te wijzigen/veranderen of<br>
                    - Kies om een nieuw lied aan te maken om later te spelen.<br><br>
                <b>Settings<br></b>
                    - Kies of je het spel en het keyboard met elkaar wil verbinden.<br>
                    - Kies of je op Fullscreen wil spelen.<br>
                    - Kies om je notenlimiet op je keyboard aan te maken.<br><br>
                <b>Exit<br></b>
                    - Kies om het spel te verlaten.<br><br><br></p>

        <h2>Corendon</h2>
            <p><b>Gebruiksgegevens<br></b>
                    Volg voor het opvragen van de gebruiksgegevens van de CPU het volgende stappenplan:<br>
                    1. Sluit een laptop of computer aan op hetzelfde netwerk als dat van Pi-Key.<br>
                    2. Op dat netwerk kunnen, via de localhost, alle benodigde gegevens worden opgehaald.<br>
                        Waaronder temperatuur, volumestatus, schermstatus en het verbruik van het apparaat.<br>
                    3. De gegevens staan in twee tabellen weergegeven.<br><br>
                <b>TAB_SENSOR<br></b>
                    In TAB_SENSOR staan alle gegevens die betrekking hebben tot de volume- en schermstatus.
                    Hier is te zien hoe lang het scherm aanstaat en hoeveel het volume wordt veranderd.
                    Met deze gegevens is te achterhalen of Pi-Key veel wordt gebruikt.<br><br>
                <b>TAB_CPU<br></b>
                    In TAB_CPU staan de gegevens die betrekking hebben tot de Raspberry Pi. Hieronder vallen de
                    temperatuur en het verbruik. Hoe hoger het verbruik, hoe hoger de temperatuur. ALs de Raspberry
                    Pi te lang een te hoge temperatuur heeft, sluit hem dan af en sluit een stroomtoevoer aan die
                    meer stroom aankan.<br>
                <br><br><br></p>


        <h2>Bedrijfsleider</h2>
            <p><b>Plaatsing<br></b>
                    Plaats Pi-Key in een opvallende en droge omgeving (bijvoorbeeld een lobby/recreatieruimte).<br>
                    Plaats Pi-Key <b>niet</b> in de buurt van een zwembad.<br><br>
                <b>Onderhoud<br></b>
                    Vraag om de zes maanden een rapport op van het TAB_CPU bij Corendon, met informatie over stroomtoevoer.<br>
                    Als de aangegeven temperatuur met regelmaat hoger dan 70 graden Celcius is, vervang dan de toevoer.<br><br>
                    In geval van een niet aan- of uitgaand scherm of niet werkende motoren:<br>
                    1. Neem contact op met de MyRealMusic hulpdienst.<br>
                    <i>Of</i><br>
                    1. Controleer of de kabels zijn gestationeerd als op de afbelding uit de meegeleverde handleiding.<br>
                    2. Wanneer dit niet het geval is, sluit dan alle stroom af en zet de kabels op de juiste plaats aan de hand van de afbeelding.<br><br><br>
                    </p>

        <img src="trans.png" alt="Pi-Key" style="width:60px;height:90px;" />
        <p><font color="black" background-position="center">MyRealMusic</font></p>

</font>

    </body>

</head>
